
.cardItemMain {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.cardItemImg {
    width: 100%;
    height: 245px;
    object-fit: cover;
}
.cardItemContainer {
display: flex;
flex-direction: column;
align-items: center;  
margin-top: -100px;
max-width: 1290px;
background: #FFFFFF;
border: 1px solid #EAEAEA;
box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
border-radius: 5px;
padding: 75px;
margin-left: 25px;
margin-right: 25px;
}
.cardItemTitle {
max-width: 473px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: center;
color: #363636;
}
.cardItemSum {
margin-top: 50px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #000000;
}
.cardItemBackBtn {
margin-top: 20px;
margin-bottom: 40px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
color: #363636;

}
.link {
    text-decoration: none;
}